<style media="screen">
  .error {
    color: red;
  }

  .success {
    color: green;
  }

</style>


<script>
console.log("checkpoint 1");


  // $(document).ready(function () {
$(function () {
  // })

  $("#my-add-class-click").click(function () {
    $("#foo").removeClass('error');
    $("#foo").addClass('success')
  })

  $("#my-remove-class-click").click(function () {
    $("#foo").removeClass('success')
    $("#foo").addClass('error')
  })

})

  console.log("checkpoint 3");
</script>




<p>
<a id="my-add-class-click">Add Class</a>

<a id="my-remove-class-click">Remove Class</a>
</p>

<div id="foo" style="border: 1px solid red;">
  <h1>bar</h1>
</div>
